* {
  margin: 0px;
  padding: 0px;

}
body {
  width: 100%;
  height: 100%;
  background-color:black !important;
}

.header{
  padding: 10px;
  
  vertical-align: center;
  text-align: center;
  background-color: tomato;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  font-size: 30px;
  font-weight: 700;
  z-index: 1;
}
.container {
  
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  width: 100%;
  background-color:black;
  justify-content: space-evenly;
  height: 90vh;
 
  z-index: 0;
}



.wrapper {
 
  border-radius: 5px;
  height: 92%;
  justify-self: center;
  padding: 20px;
  margin: 3%;
  vertical-align: middle;
  justify-content: center;
  background-color:crimson;
  
}
#sipInput {
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid black;
}
#yearInput {
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid black;
}
#RORInput {
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid black;
}
.allLabel {
  font-size: 20px;
  font-weight: 700;
  margin-top: 2%;
  color: white;
}
.submitBtn {
  display: flex;
  justify-content: center;
}
#computeBtn {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

  padding: 3px;
  border-radius: 3px;
  margin: 2px;
  width: 70%;
  vertical-align: middle;
}
#computeBtn:hover {
  background-color: white;
  color: black;
}
#rupeeIcon {
  font-size: 20px;
  padding: 2px;
  font-weight: 500;
}
#percentIcon {
  font-size: 20px;
  padding: 2px;
  font-weight: 500;
}
.finalAmountDiv {
  display: flex;
  justify-content: center;
}
#finalAmt {
  display: none;
  margin-top: 5%;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
